.pageFolderEntry {

  .table {
    line-height: 30px;
    tr {
      border-bottom: 1px solid rgb(224, 224, 224);
    }
    th {
      padding: 7px 40px 7px 10px;
      white-space: nowrap;
    }
    th, td {
      text-align: left;
    }
    td {
      padding: 7px;
    }
  }
}
