@import './../../../assets/styles/variables';

.pageFolderEntries {
  .content {
    width: $page-width;
    margin: 0 auto;
    .pageEntriesPaginationBar {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
  .entryTable {
    padding-top: 20px;
  }
  .btnSort {
    border: 0;
    border-radius: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.2em;
    color: rgb(158, 158, 158);
    padding: 0;
    margin-left: 14px;
  }
}
