.pageSettings {
  h2 {
    margin-bottom: 20px;
  }
  .label {
    font-family: Roboto, sans-serif;
    color: rgba(0, 0, 0, 0.298039);
    font-size: 15px;
  }
  .customField {
    margin-top: 21px;
    svg {
      vertical-align: bottom;
    }
  }
  .field {
    display: inline-block;
  }
  .demoFontPhraseContainer {
    padding: 14px 0 14px 44px;
    line-height: 1.7em;
  }
}
