$counter-size: 100px;

.counter {

  margin: 0 auto;

  width: $counter-size;
  height: $counter-size;
  background-color: #ccc;
  text-align: center;
  line-height: $counter-size;
  font-size: 20px;

  .counterValue {
    margin-left: 10px;
  }
}
