@import './../../../assets/styles/variables';

.pageFolderEntry {

  position: relative;
  height: 100vh;

  .content {
    width: $page-width;
    margin: 0 auto;
  }

  .table {
    width: 100%;
    line-height: 30px;
    tr {
      border-bottom: 1px solid rgb(224, 224, 224);
    }
    th {
      padding: 7px 40px 7px 10px;
      white-space: nowrap;
    }
    th, td {
      text-align: left;
    }
    td {
      word-break: break-word;
      white-space: pre-wrap;
      padding: 7px;
    }
  }
}
