body {
}

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 28px;
  font-weight: 500;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

h4 {
  font-size: 22px;
  font-weight: 500;
}

h5 {
  font-size: 18px;
  font-weight: 400;
}

:global(.page) {
  padding: 7px;
}

:global(.page-list) {
  :global(.topbar) {
    display: flex;
    justify-content: space-between;
  }
}
