:global(.bo) {
  font-family: 'Tibetan Machine Uni';
}

:global(.en, .zh-TW, .zh-CN) {
  font-family: 'helvetica neue';
}

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 28px;
  font-weight: 500;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

h4 {
  font-size: 22px;
  font-weight: 500;
}

h5 {
  font-size: 18px;
  font-weight: 400;
}

:global(.divider) {
  width: 100%;
  height: 1px;
  margin: 0;
  border: 0;
  background-color: rgb(224, 224, 224);
}

:global(.page-edit) {
  :global(.button-wrap) {
    padding-top: 14px;
    text-align: right;
  }
}

th, td {
  vertical-align: middle;
}

a {
  cursor: pointer;
  &:hover, &:active, &:focus {
    color: #05966c;
    text-decoration: underline;
  }
}
