@import './../../../assets/styles/index';
@import './../../../assets/styles/variables';

.app {
  .appContent {
    width: $page-width;
    margin: 0 auto;
    padding: 14px;
  }
  .appBarWrap {
    background-color: $brand-primary;
    .appBar {
      width: $page-width;
      margin: 0 auto;
    }
  }
}
