@import './../../../assets/styles/variables';

.pageImportCsv {
  padding: 14px;
  .content {
    width: $page-width;
    margin: 0 auto;
  }
  h1 {
    padding-bottom: 14px;
  }
  ul {
    line-height: 30px;
  }
  .chooseFileBtnWrap {
    margin: 20px 0;
    text-align: center;
  }
  .linesCompleted {
    padding: 14px 0;
  }
  .errorMessage {
    color: $brand-danger;
    padding-top: 14px;
    text-align: center;
  }
}
